<header>
  <div class="logo">
    <img src="/images/board&brew.png" alt="Board & Brew Logo" />

    <a href="/homepages/home1.html">
      <div class="logo-content">
        <h1 class="logo-text">
          <span class="board">Board</span>
          <span class="amp">&</span>
          <span class="brew">Brew</span>
        </h1>

        <div class="tagline">
          <span class="line"></span>
          <p>WHERE EVERY MOVE</p>
          <span class="line"></span>
        </div>

        <h5 class="sub-tagline">COMES WITH A BREW.</h5>
      </div>
    </a>
  </div>

  <nav>
    <ul class="nav-links">
      <li class="dropdown">
        <a href="/homepages/home1.html"
          >Home <i class="fa-solid fa-angle-down"></i
        ></a>

        <ul class="dropdown-menu">
          <li><a href="/homepages/home1.html">Home 1</a></li>
          <li><a href="/homepages/home2.html">Home 2</a></li>
        </ul>
      </li>

      <li><a href="/aboutpage/about.html">About</a></li>

      <li><a href="/servicespage/services.html">Services</a></li>

      <li><a href="/blogpage/blog.html">Blog</a></li>

      <li><a href="/contactpage/contact.html">Contact</a></li>

      <li><a href="/dashboardpage/dashboard.html">Dashboard</a></li>
    </ul>
  </nav>

  <div class="buttons">
    <!-- RTL Toggle -->
    <button class="icon-btn rtl-btn" id="rtlToggle" title="RTL Mode">
      <i class="fa-solid fa-arrow-right-arrow-left"></i>
    </button>

    <!-- Dark Mode -->
    <button class="icon-btn dark-btn" id="darkToggle" title="Dark Mode">
      <i class="fa-solid fa-moon"></i>
    </button>
    <button class="icon-btn menu-btn" id="menuToggle">
      <i class="fa-solid fa-bars"></i>
    </button>

    <div class="mobile-login">
      <a href="/loginpage/login.html" class="login-btn">Login</a>
    </div>
  </div>
</header>
